@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #7C2FFF;
  --color-secondary: #0C0D4C;
  --color-background: #FFFFFF;
  --color-dark: #03011D;

  --color-datte-purple-100: #E5D5FF;
  --color-datte-purple-200: #CBACFF;
  --color-datte-purple-400: #B082FF;
  --color-datte-purple-500: #9659FF;
  --color-datte-purple-600: #7C2FFF;

  /* Overriding default Tailwind colors to match Datte.me */
  --color-indigo-50: #F3E8FF;
  --color-indigo-100: #E5D5FF;
  --color-indigo-200: #CBACFF;
  --color-indigo-300: #B082FF;
  --color-indigo-400: #9659FF;
  --color-indigo-500: #8843FF;
  --color-indigo-600: #7C2FFF;
  --color-indigo-700: #6211E8;
  --color-indigo-800: #4B0BBA;
  --color-indigo-900: #36078C;

  --color-slate-800: #1A1C6A;
  --color-slate-900: #0C0D4C;
  --color-slate-950: #03011D;
}